@model TaskManager.Web.Models.ReportUserDetailViewModel

<div class="modal fade" id="modal-task">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="reportUserDetailHeading"></h4>
                <div class="">
                    <button type="button" class="close" id="task-closePopup-icon" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">

                <div class="card">
                    <div id="modal-default">
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        <table id="reportUserDetailTable" class="table table-bordered table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@Html.HiddenFor(x => x.EmployeeName, new { id = "reportEmployeeName" })
