
@{
    ViewData["Title"] = "Tasks";
    ViewData["Heading"] = "Follow Ups";
}

@section HeaderScripts {
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-select/css/select.bootstrap4.min.css">
    <link rel="stylesheet" href="../../dist/css/taskfollowups.css">
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Inbox</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="inboxTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Follow Up From</th>
                                    <th>Tasks</th>
                                    <th>Remarks</th>
                                    <th>Status</th>
                                    <th>Activity Date</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Outbox</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="outboxTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Tasks</th>
                                    <th>Remarks</th>
                                    <th>Status</th>
                                    <th>Activity Date</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>


@section BodyScripts {
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-select/js/select.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-select/js/dataTables.select.min.js"></script>

    <script>
        var currentUserName = '';
        @if (ViewData["UserName"] != null)
        {
            <text>
                testing = "@ViewData["UserName"]";
                currentUserName =  "@ViewData["UserName"]";
            </text>
        }
        var thisBaseUrl = "@Html.Raw(this.Context.Request.Scheme + "://" + this.Context.Request.Host)";
        var thisPage = '../taskfollowups';
    </script>

    <script src="../../dist/js/global.js"></script>
    <script src="../../dist/js/pages/taskfollowups.js"></script>
}