@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3 id="pendingTasksId">0</h3>

                    <p>Pending Tasks</p>
                </div>
                @*<div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>*@
                @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3 id="overdueTasksId">0<sup style="font-size: 20px"></sup></h3>

                    <p>OVerdue Tasks</p>
                </div>
                @*<div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>*@
                @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3 id="resolvedTodayId">0</h3>

                    <p>Resolved Today</p>
                </div>
                @*<div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>*@
                @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3 id="followUpsId">0</h3>

                    <p>Follow Ups</p>
                </div>
                @*<div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>*@
                @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->

<script src="~/plugins/jquery/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        //$('#example2').DataTable({
        //    "paging": true,
        //    "lengthChange": false,
        //    "searching": false,
        //    "ordering": true,
        //    "info": true,
        //    "autoWidth": false,
        //    "responsive": true,
        //});

        var thisPage = '..';
        $(".nav-sidebar .nav-item .nav-link").each(function () {
            $(this).removeClass("active");
            var href = $(this).attr('href');
            if (href == thisPage) {
                $(this).addClass('active');
            }
        });
        var baseUrl = "@Html.Raw(this.Context.Request.Scheme + "://" + this.Context.Request.Host + this.Context.Request.Path)";

        
        function getSummaryInfo() {

                $.ajax({
                    type: "GET",
                    url: baseUrl + "home/list",
                    contentType: "application/json; charset=utf-8",
                    data: null,
                    datatype: "json",
                    success: function (data) {
                        $.each(data, function (i, val) {
                            tmpData = data[i];
                            $("#pendingTasksId").html(tmpData.pendingTasksCount);
                            $("#overdueTasksId").html(tmpData.overDueTasksCount);
                            $("#resolvedTodayId").html(tmpData.resolvedTodayCount);
                            $("#followUpsId").html(tmpData.followUpsCount);
                        });
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
        }

        getSummaryInfo();

    });
</script>