@model TaskManager.Web.Models.AssigneeViewModel

<div class="modal fade" id="modal-task">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Assignee</h4>
                <div class="">
                    <button type="button" class="close" id="task-closePopup-icon" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <form asp-action="UpdateAssignee">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="form-group">
                        <b><label class="control-label">Assignee</label></b>
                        @Html.DropDownListFor(x => x.SelectedAssignee,
                                Model.Assignees,
                                new
                                                {
                                                    @class = "chosen-select form-control input-form",
                                                })
                    </div>
                    <div id="spinnerAssignee" style="display:none;" class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <input asp-for="@Model.AssigneeTaskId" type="hidden" value="" />

                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" id="task-submit-btnId" data-save="modal" class="btn btn-primary">Update Assignee</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
