@model TaskManager.Web.Models.TaskSummaryViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Task Summary</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Pending Tasks
            </th>
            <th>
                Completed Tasks
            </th>
            <th>
                OnHold Tasks
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.PendingTasksCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.CompletedTasksCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.OnHoldTasksCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.TotalTasksCount)
            </td>
        </tr>
    </tbody>
</table>

