@section BodyScripts {
    <script>
        @if (ViewData["IdentityUser"] != null)
        {
            <text>
                $("#testSpanId").html("@ViewData["IdentityUser"].ToString()");
            </text>
        }
    </script>
}

<span id="testSpanId"></span>